<div class="postdiv">
  <ng-container *ngIf="(blogPost$ | async) as blogPost; else loading">

    <h1>{{ blogPost.title }}</h1>
    <div>{{ blogPost.body }}</div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <p class="float-left"><b>Created By:</b> {{ blogPost.creator }}</p>
        </div>
        <div class="col-md-6">
          <p class="float-right"><b>Date:</b> {{ blogPost.dt | date : "fullDate" }}</p>
        </div>
      </div>
  
  </ng-container>
  <ng-template #loading>Loading…</ng-template>
</div>

<a class="float-right" [routerLink]="['/']"> << Back to Homepage</a>